* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 122, 156);
}

/*  LAYOUT */

/*  HEADER */


/*  FOOTER */


/*  Div 3  */
.texte_fond_de_page {
    background-color: #1A1A1A;
}

.texte_fond_de_page p {
    background-color: #FFFFFF;

}

